/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: black;
    gap: 20px;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: start;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.user-icons a img {
    width: 20px;
    margin-left: 73vw;
}

.favoritos {
    background-color: #228B22;
    color: white;
    text-align: center;
    padding: 100px;
}

.favoritos .slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.slider img {
    width: 150px;
    height: 150px;
}

.slider button {
    background: none; /* Remove o fundo do botão */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}

.slider button img {
    width: 30px; /* Ajuste a largura da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

/* Seções de Esportes */
section.esportes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: white;
}

section.esportes .esporte {
    width: 200px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

section.esportes .esporte:hover {
    transform: scale(1.05);
}

section.esportes .esporte img {
    width: 100px;
    height: 100px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #228B22;
    color: white;
}

footer .adsense img {
    width: 150px;
    margin: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}