* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  color: black; /* Define todas as fontes como pretas */
}

.back-button {
  color: black;
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
}

.saldo {
  background: linear-gradient(135deg, #13ae5c, #0f6e4d);
  color: black; /* Fonte preta dentro do saldo */
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

.icon-wallet, .icon-eye {
  width: 24px;
  height: 24px;
  color: black; /* Ícones com cor preta */
}

.container {
  width: 400px;
  margin: 20px auto;
  text-align: center;
}

.transacoes {
  margin-top: 20px;
}

.transacao {
  background: linear-gradient(135deg, #13ae5c, #0f6e4d);
  color: black; /* Fonte preta dentro das transações */
  padding: 15px;
  margin-top: 10px;
  text-align: left;
}

.data {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 16px;
}

.compra, .venda {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3); /* Borda preta suave */
  font-size: 14px;
}
